#page {
    /* box-shadow: 0 17px 40px 0 rgb(17 43 85 / 10%);
    background-color: #ffffff;
    width: 1000px;
    height: 600px;
    border-radius: 60px;
    margin: 120px 0 0 0;
    position: relative;
    display: contents; */
    width: 30%;
    margin: auto;
    text-align: center;
    animation: showLogin 0.2s forwards;
}

.page
{
    /* justify-content: center;
    position: relative;
    height: -webkit-fill-available;
    text-align: center;*/
     
    box-shadow: 0 17px 40px 0 rgb(17 43 85 / 10%);
    background-color: #ffffff;
    width: 1000px;
    height: 600px;
    border-radius: 60px;
    margin: 120px 0 0 0;
    position: relative;
    display: contents;
}

.page::before
{
    content: "";
    background-image: url('../../../assets/לוז.png');
    /* background-color: rgb(214, 223, 223); */
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
    background-size: cover;
    position: absolute;
}


.hide {
    float: left;
    margin-left: 0% !important;
}

.icons
{
    color: #ebad00;
    vertical-align: middle;
}

.btn
{
    margin-right: 25%;
}
/* .page::before {
    content: "";
    background-size: cover;
    position: absolute;
} */

.background {
    background-color: rgb(8, 78, 78);
    min-height: 100vh;
    display: flex;
}

.page1 {
    width: 80%;
    height: 80vh;
    margin: auto;
    background-color: white;
    border-radius: 25px;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
    display: flex;
}

.mat-form-field {
    width: 100%;
}
/* .form-control {
    border-radius: 10px;
    font-size: 16px;
    height: 45px;
    border: solid 1px #ddd8d8;
    background-color: #f5f2f2;
} */


.h1 {
    color: rgb(8, 78, 78);
}

/* .buttons{
    justify-content: space-between;
} */
.btn {
    margin-right: 5%;
    margin-left: 5%;
    width: 100px;
}

.toRegister
{
    margin-left: 30%;
    position: absolute;
    margin-top: 3%;
}


.toConnect
{
    margin-left: 65%;
    margin-top: 20%;
    position: absolute;
}

.main
{
    width: 419px;
    height: auto;
    border-radius: 60px;
    position: relative;
    top: 200px;
    margin-left: 50%;
    display: inline-block;
    z-index: 100;
    box-shadow: 0 17px 40px 0 rgb(0 0 0 / 40%);
    border: solid #faca44 2px;
    background-color: #ffffff;
    overflow: hidden;
    text-align: center;
    opacity: 85%;
    display: block;
}

.showLogin {
    padding: 16px;
    animation: showLogin 0.2s forwards;
}

@keyframes showLogin
{
    0%
    {
        transform: translateX(-103%);
    }
    100%
    {
        transform: translateX(0%);
    }
}


.showRegister {
    animation: showRegister 0.2s forwards;
}

@keyframes showRegister
{
    0% {
        transform: translateX(0%);
    }
    
    100% {
        transform: translateX(-103%);
    }
}