.background{
    background-color: rgb(214, 223, 223);
    min-height:100vh;
    direction: ltr;

}
.scheduleDiv{
    /* width: 80%; */
    /* margin: auto; */
    margin-top:10px;
    /* align-items: center; */
}
.page{
    width: 80%;
    height: 75vh;
    margin: auto;
    background-color:white;
    border-radius: 25px;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
    overflow-y: auto;
    /* align-items: center; */
}
.inputClass{
    margin-left: 40%;
    margin-top: 5%;
}
h1{    text-align: left;
    font-weight: bold;
    color:#99314d ;
    direction: rtl;
    margin-left: 90%;
}
table, thead, th{
    text-align: center;
    direction: rtl;
    border-color: #99314d !important;
}
td, th{
    min-height: 12px;
    min-width: 75px;
    border:solid;
    margin: 0 auto;
    border-color: #99314d;

    /* max-width: 100px; */
}
.table{
    display: block;
    margin: 0 auto;
    width:80%;
}
.matFormField{
    width: 100px;
}
.buttons{
    direction: rtl;
    width: 200px;
    margin: 0 auto;
    align-items: center;
}
.btn{
    margin-top: 20px;
    margin-left: 20px;
}
.btn2{
    background-color: #99314d;
}
.btn1{
    color:#99314d;
    border-color: #99314d;
}

.btnChekScedualPerClass{
    margin-bottom:100px;
    position: fixed;
    bottom: 80px;
    /* left:110px; */
   background-color:#99314d;
}
th{
    border-color: black;
    color: #99314d;
}

